AKURA_APP_MANAGER_REMOTE_URL=http://localhost:4174/remoteEntry.js
AKURA_MARKETING_REMOTE_URL=http://localhost:4175/remoteEntry.js
AKURA_FINANCE_REMOTE_URL=http://localhost:4176/remoteEntry.js
AKURA_FIELDSERVICE_REMOTE_URL=http://localhost:4177/remoteEntry.js
VITE_API_BASE_URL=http://localhost:5000/api/v1
